/* Change main colours */

/* Light mode */
@media (prefers-color-scheme: light) {
  $primary: #003d79 !important;
  $background-color: #ffffff !important;
  $text-color: #1a1a1a !important;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  $primary: #d8a727 !important;
  $background-color: #0d1117 !important;
  $text-color: #e6edf3 !important;
}

/* Change monospace font to Fira Code */
// Profile

.profile {
  .more-info {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }
  }

 figcaption.abandoned {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }
 
figcaption.finished,
figcaption.watched {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

 figcaption.interested {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

figcaption.paused {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

 figcaption.queued {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

figcaption.reading,
figcaption.watching {
     font-family: Fira Code, monospace;
    font-weight: 500;
    }

figcaption.reread, 
figcaption.rewatch {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

figcaption.uncategorized {
    font-family: Fira Code, monospace;
    font-weight: 500;
    }

/* Apply custom fonts to headings and monospace */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lateef", sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;  /* or 400, or 700 — you choose */
}